@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch;
    height: 100vh;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    background: #f0f0f0;
}

aside {
    display: flex;
    align-items: center;
    background-image: url(media/magic-background.jpg);
}

#logo {
    justify-items: center;
    color: #f0f0f0;
    width: 40dvw;
    display: flex;
    background: rgba(230, 30, 30, 0.5);
    padding: 3rem;
}

#logo h1 {
    font-family: 'Protest Revolution', sans-serif;
    font-size: 2dvw;
    padding-left: 1rem;
}

#logo img {
    width: 2dvw;
}

#photo-credit {
    position: absolute;
    color: #fdfdfd;
    bottom: 10px;
    left: 10px;
}

#photo-credit a {
    text-decoration: none;
    color: inherit;
}

main {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#presentation {
    width: 40dvw;
    font-size: 1.6rem;
}

#presentation p + p{
    margin-top: 20px;
}

fieldset{
    height: 30dvh;
    margin-left: -50px;
    padding-left: 50px;
    background: #fdfdfd;
    border: none;
    width: 60dvw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    width: 20dvw;
    align-items: start;
    padding-right: 20px;
}

.field>label {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    padding-bottom: 2px;
    color: #222;
}

input {
    width: 100%;
    font-size: 1.4rem;
    border-radius: 5px;
}

legend {
    font-size: 1.4rem;
    position: relative;
    top: 20px;
}

button {
    margin: 2rem 0;
}