* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch;
    height: 100vh;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    background: #f0f0f0;
}

aside {
    display: flex;
    align-items: center;
    background-image: url(media/magic-background.jpg);
}

#logo {
    justify-items: center;
    width: 40dvw;
    display: flex;
    background: rgba(230, 30, 30, 0.5);
    padding: 3rem;
}

main {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#presentation {
    width: 40dvw;
    font-size: 1.5rem;
}

#presentation p + p{
    margin-top: 20px;
}

fieldset{
    margin-left: -50px;
    padding-left: 50px;
    padding-bottom: 1rem;
    background: #fdfdfd;
    border: none;
    width: 60dvw;
}

legend {
    padding-top: 50px;
    font-size: 1.5rem;
    text-align: end;
}

button {
    margin: 2rem 0;
}