@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: stretch;
    height: 100vh;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    background: #f0f0f0;
}

aside {
    display: flex;
    align-items: center;
    background-image: url(media/magic-background.jpg);
    background-size: cover;
}

#logo {
    justify-items: center;
    color: #f0f0f0;
    width: 40dvw;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    padding: 3rem;
    align-self: center;
}

#logo h1 {
    font-family: 'Protest Revolution', sans-serif;
    font-size: 6dvw;
}

#logo img {
    width: 6dvw;
    margin-left: 100px;
}

#photo-credit {
    position: absolute;
    color: #fdfdfd;
    bottom: 10px;
    left: 10px;
}

#photo-credit a {
    text-decoration: none;
    color: inherit;
}

main {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#presentation {
    width: 40dvw;
    font-size: clamp(12px, 1.5rem, 3rem);
    font-weight: bold;
}

#presentation p + p{
    margin-top: 20px;
}

fieldset{
    height: 30dvh;
    margin-left: -50px;
    padding-left: 50px;
    background: #fdfdfd;
    border: none;
    width: 60dvw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    width: 20dvw;
    align-items: start;
    padding-right: 20px;
}

.field>label {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    padding-bottom: 2px;
    color: #444;
}

input {
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 2px solid lightblue;
}

legend {
    font-size: 1.2rem;
    position: relative;
    top: 20px;
}

button {
    color: purple;
    font-size: 1.5rem;
    margin: 2rem 0;
    padding: 20px;
    border-radius: 15px;
    border: purple solid 3px;
}

button:hover {
    background-color: purple;
    color: #E5E7EB;
}

form p {
    font-size: 1rem;
}